<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/View/CSS/Footer.css" media="screen" />
    <title>Document</title>
</head>
<body>
    
    <div class="footer">
        <p>
            Phasellus a eros vitae ligula eleifend convallis. Sed nulla tortor, tristique at orci vitae, egestas tristique eros. Sed et urna id ante suscipit ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vel vulputate arcu, ut dapibus ipsum. Sed ornare varius eros, non posuere metus volutpat at. Cras sit amet ipsum metus. Fusce convallis, nisl ac sodales consequat, mauris justo rutrum arcu, et sodales nulla ipsum sed mi. Donec accumsan fermentum pellentesque.
        </p>
    </div>

</body>
</html>