<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/View/CSS/Header.css" media="screen" />
</head>

<body>

    <div class="header">
        <div id="banner">
            <h1>CAPACITA</h1>
        </div>
        <br />

        <div id="menu">
            <div id="nav">
                <ul>
                    <li><a href="/Index.php">Início</a></li>
                    <li><a href="/Index.php#cursos">Cursos</a></li>
                    <li><a href="/Index.php/#parcerias">Parcerias</a></li>
                    <li><a href="/Index.php/#sobre">Sobre</a></li>
                </ul>

            </div>
            <div id="login">
                <p><a href="/View/PHP/Login.php">Entrar</a></p>
            </div>
        </div>
    </div>

</body>

</html>