/* CSS DO CABEÇALHO */
.header{
    height: 100%;
    width: 100%;
    vertical-align: middle;
    margin-top: -20px;
   
}

#banner{
    
    background-color: darkcyan;
    width: 100%;
    height: 100px;
    text-align:left;
    margin: 0;
    margin-bottom: 0;
    padding:0;
}

#banner h1{
    color:firebrick;
    margin-left: 30px;
    vertical-align: left;
    font-size: 50px;
    padding-top: 30px;
}

/* CSS DO MENU */

#menu{
    background-color:darkgrey;
    width: 100%;
    height: 40px;
    top:0;
    margin-top: -20px;
    padding: 0;

}

#menu ul{
    
    padding: 10px;
    margin:0px;
    list-style:none;
    margin-top: 0px;
}

#menu ul li { 
    display: inline;
    color:black;
    padding: 2px 20px;
}

#menu ul li a {
    padding: px 10px;
    display: inline-block;

    /* visual do link */
    color: black;
    text-decoration: none;
}

#menu ul li a:hover {
    color: darkslategrey;
    border-bottom:3px solid firebrick;
}

#login{
    width: 10%; 
    float:right;
    height: 100%;
    padding: 10px;
}

#login p{
    text-align: center;
    margin-right: 30px;
    vertical-align: middle;
    
}

#nav{
    width: 90%; 
    float:left;
    height: 100%;
}

/* CSS DO INICIO */


